.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
}
.input {
    width: 250px;
    height: 30px;
    border-radius: 5px;
}
.label {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.btn {
    width: 100px;
    height: 25px;
}